<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>North America Wild Fires</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Fire and Rain</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <!-- <img src="{{ vacation.sloth_img }}" alt="Sloth"> -->
    <h2>Latest News on Wild Fires:</h2>
    <h3>Wild Fire Articles</h3>
    <h2>Latest News on Rain:</h2>
    <h3>Rain Percipitation: {{ vacation.min_temp }}</h3>
  </div>
  </div>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JS -->
  <script type="text/javascript" src="../static/js/logic.js"></script>

</body>

</html>
